/* MOBILE NAV POLISH */
@media (max-width: 1023px) {
  .nav-left,
  .nav-links {
    width: 100%;
  }

  .nav-links a {
    padding: 6px 0;
  }

  .nav-right {
    width: 100%;
  }

  .nav-right a {
    width: 100%;
    text-align: center;
  }
}
